{% extends "auctions/layout.html" %}

{% block body %}
{% if message %}
{{message}}
{% endif %}

{% if auction %}
<form class="form card mb-3" action="{% url 'listing' auction.id %}" method="post">
    {% csrf_token %}
    <h2 class="card-title">{{auction.title}}</h2>
    <img src="{{auction.img_url}}" class="card-img-top w-25" alt="{{auction.title}}">
    <div class="card-body">
        <p class="card-text">{{auction.description}}</p>
        <p><strong>Price: $</strong>{{ auction.starting_bid }}</p>
        <button class="btn btn-primary">Add to watchlist</button>
    </div>
    <div class="card-footer text-secondary">Created by {{auction.user}}</div>
</form>
{% else %}
<h2>No Auctions Here!</h2>
{% endif %}
{% endblock %}