{% extends "auctions/layout.html" %}

{% block body %}
<form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="title" type="text" class="form-control" id="title" required>
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input name="desc" type="text" class="form-control" id="Description" required>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input name="img" type="url" class="form-control" id="image">
    </div>

    <div class="mb-3">
        <label for="bid" class="form-label">Bid</label>
        <input name="bid" placeholder="1$" type="number" min="1" class="form-control" id="bid" required>
    </div>

    <div class="mb-3">
        <label for="cat" class="form-label">Categoties</label>
        <input name="cat" placeholder="Home, Toys, ..." type="text" class="form-control" id="cat">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}