{% extends "auctions/layout.html" %}

{% block body %}
{% if message %}
{{message}}
{% endif %}
{% if listings %}
<h2>Active Listings</h2>

{% for auction in listings %}
<div class="d-flex align-items-center border mb-3">
    {% if auction.img_url %}
    <img src="{{auction.img_url}}" class="w-25 me-5 ms-5" alt="{{auction.title}}">
    {% endif %}
    <div class="">
        <h5 class=""><a href="{% url 'listing' auction.id %}">{{auction.title}}</a></h5>
        <p class="">{{auction.description}}</p>
        {% if bids %}
        {% for bid in bids %}
        {% if bid.listing == auction%}
        <p>
            <strong>Price:$</strong>
            {{bid.value}}
        </p>
        {% endif %}
        {% endfor %}
        {% else %}
        <p><strong>Started with: </strong>${{auction.starting_bid}}</p>
        {% endif %}
        <p class="text-secondary">Created {{auction.updated_at}}</p>
    </div>
</div>
{% endfor %}
{% else %}
<h2>No Auctions Here!</h2>
{% endif %}
{% endblock %}